<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/projects/{projectId}/addUser/{userId}(projectId=${projectId}, userId=${userId})}" method="post">
    <select th:object="${user}">
        <option th:each="user : ${users}" th:value="${userId}" th:text="${user.firstName}"></option>
    </select>
    <button type="submit">Add</button>
</form>

<a th:href="@{/projects/{projectId}(projectId=${projectId})}">Back</a>
</body>
</html>