<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects list</title>
</head>
<body>
    <h1>Projects List</h1>
    <a th:href="@{/projects/new}">Create New Project</a>
    <a th:href="@{/admin}">Admin</a>

    <table>
        <tr th:each="project : ${projects}" th:object="${project}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td><a th:href="@{/projects/{projectId}(projectId=*{id})}">Select</a></td>
        </tr>
    </table>
</body>
</html>