<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Task Page</h1>
    <div th:object="${task}">
        <p th:text="*{title}"></p>
        <p th:text="*{description}"></p>
        <p th:text="*{responsibleUserFullName}"></p>
        <p th:text="*{creatorFullName}"></p>
        <p th:text="*{editorFullName}"></p>
        <input type="checkbox" th:checked="*{isEdited}" disabled>

        <a th:href="@{/projects/{projectId}/{taskId}/edit(projectId=${projectId}, taskId=*{id})}">Edit</a>
        <a th:href="@{/projects/{projectId}/{taskId}/delete(projectId=${projectId}, taskId=*{id})}">Delete</a>
    </div>

    <a th:href="@{/projects/{projectId}(projectId=${projectId})}">Back to project</a>
</body>
</html>