<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="57x57" th:href="@{/images/favicon-57x57.png}">
  <link href="/src/main/resources/static/css/style.css" rel="stylesheet" />
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' th:href='@{https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css}'>
  <title>Taska PM</title>
</head>
<body>
    <footer>
        <div class="footerItems">
            <div class="footerItem">
                <a th:href="@{/projects}">
                    <i class="fi fi-rr-workflow-setting-alt"></i>
                </a>
            </div>
            <div class="footerItem">
                <a href="#">
                    <i class="fi fi-rr-task-checklist"></i>
                </a>
            </div>
            <div class="footerItem">
                <a href="#">
                    <i class="fi fi-rr-clock-three"></i>
                </a>
            </div>
            <div class="footerItem">
                <a href="#">
                    <i class="fi fi-rr-calendar-day"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
